<div class="container">
  <div class="row static_pages_title">
    <h1 class="contact_titile">About</h1>
    <h2 class="about_titile">本サイトの運営に至るまでの経緯</h2>
    <p class="about_contentes">管理者はもともと大手住宅設備メーカーへ技術職として採用され入社した。入社して感じたのが、「住宅業界は良くも悪くも”昔ながらの業界”」ということ。
       営業社員の方たちは流通店や工務店などお客様とのコミュニケーションを大切にされており人のぬくもりを感じることができる業界であるが、一方でIT業界などと比べるとテクノロジー導入という点ではまだまだ遅れを取っていた。</p>

    <h2 class="about_titile">業界を変えることの難しさ</h2>
    <p class="about_contentes">業過大手だからこそ変えることが難しい。利害関係が生じ、業界構造を大きく変えるようなやり方は非常に難しい。「憎まれっ子世に憚る」という言葉があるが、大手がわざわざ“憎まれっ子”になる必要なんてないからだ。
       リスクリターンが見合っていないのである。</p>

    <h2 class="about_titile">テクノロジーを通じて、より効率的で、最適化された業界へ</h2>
    <p class="about_contentes">ダーウィンは言った。「この世に生き残る生き物は、最も力の強いものか。そうではない。最も頭のいいものか。そうでもない。それは、<em>変化に対応できる生き物だ。</em>」テクノロジーの進化は日進月歩である。
    “昔ながらの業界”のままでは、今後淘汰され衰退してしまう。テクノロジーを通じて、業界に大きな変化を与えるときがきた。我々は変化を指揮するべく、立ち上がったのである。</p>
  </div>

</div>
