<% provide(:title, 'Contact') %>
<div class="container">
  <div class="row static_pages_title">
    <h1 class="contact_titile">Contact</h1>
    <p class="contact_contents">ご不明点等がございましたら、下記連絡先までお問い合わせ願います。</p>
    <p class="contact_contents">
      E-mail:nakonakoshi@gmail.com
    </p>

  </div>
</div>
