<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class="center jumbotron">
  <h1>「働く」のすべてを、オープンに</h1>


  <div class="container">
  <div class="row justify-content-center">
  <div class="col-lg-8">
    <form class="form-inline">
    <label for="inputPassword2" class="sr-only">Password</label>
    <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
    </form>
  </div>
  </div>
  </div>
  <!-- <div class="form-group search_container col-lg-6" method="get" action="#">

    <input type="text" size="25" placeholder="キーワード検索">
    <input type="submit" value="&#xf002">
  </div> -->

  <div class="">
  </div>



  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>


</div>
<div class="container">
<div class="row justify-content-center">
<div class="col-lg-2 review">
  <p>AMAZON</p>
  <p>★★★★☆4.09</p>
  <p>社員の口コミ：1000件</P>
  <p>求人情報：32件</p>
</div>
<div class="col-lg-2 review">
  <p>AMAZON</p>
  <p>★★★★☆4.09</p>
  <p>社員の口コミ：1000件</P>
  <p>求人情報：32件</p>
</div>
<div class="col-lg-2 review">
  <p>AMAZON</p>
  <p>★★★★☆4.09</p>
  <p>社員の口コミ：1000件</P>
  <p>求人情報：32件</p>
</div>
<div class="col-lg-2 review">
  <p>AMAZON</p>
  <p>★★★★☆4.09</p>
  <p>社員の口コミ：1000件</P>
  <p>求人情報：32件</p>
</div>
<div class="col-lg-2 review">
  <p>AMAZON</p>
  <p>★★★★☆4.09</p>
  <p>社員の口コミ：1000件</P>
  <p>求人情報：32件</p>
</div>
</div>
</div>

<div class="col-lg-12">
  <h3>Pick up 企業</h3>
  <div class="review">
    <p>amazon</p>
</div>
</div>

<div class="col-lg-12">
  <h3>求人検索</h3>
  <div class="review">
    <p>amazon</p>
</div>
</div>

<div class="col-lg-12">
  <h3>総合評価ランキング</h3>
  <div class="review">
    <div class="container">
    <div class="row justify-content-center">
    <div class="col-lg-2 review">
      <p>AMAZON</p>
      <p>★★★★☆4.09</p>
      <p>社員の口コミ：1000件</P>
      <p>求人情報：32件</p>
    </div>
    <div class="col-lg-2 review">
      <p>AMAZON</p>
      <p>★★★★☆4.09</p>
      <p>社員の口コミ：1000件</P>
      <p>求人情報：32件</p>
    </div>
    <div class="col-lg-2 review">
      <p>AMAZON</p>
      <p>★★★★☆4.09</p>
      <p>社員の口コミ：1000件</P>
      <p>求人情報：32件</p>
    </div>
    <div class="col-lg-2 review">
      <p>AMAZON</p>
      <p>★★★★☆4.09</p>
      <p>社員の口コミ：1000件</P>
      <p>求人情報：32件</p>
    </div>
    <div class="col-lg-2 review">
      <p>AMAZON</p>
      <p>★★★★☆4.09</p>
      <p>社員の口コミ：1000件</P>
      <p>求人情報：32件</p>
    </div>
    </div>
    </div>
</div>
</div>





<div>

</div>


<%# <%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %> %>
