// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
<<<<<<< HEAD
=======
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'font-awesome';

.review_post{
  margin-top: 40px;
}

.review_post_title{
  font-size: 20px;
  font-weight: bold;
  font-family: FontAwesome;
  width:40%;
  margin-top: 20px;
}
.review_point{
  margin-top: 20px;
}
>>>>>>> advanced-login
