<div class="slidebar_box">
  <p class="category">他の設備を探す</p>
  <p>浴室</p>
  <p>キッチン</p>
  <p>トイレ</p>
  <p>窓まわり</p>
  <p>リビング</p>
  <p>玄関</p>
  <p>エクステリア</p>
  <p>洗面化粧台</p>
</div>
<div class="slidebar_box">  
  <p class="category">メーカーから探す</p>
  <p>LIXIL</p>
  <p>TOTO</p>
  <p>Panasonic</p>
  <p>三協</p>
  <p>YKK AP</p>
  <p>文化シャッター</p>
  <p></p>
</div>
