<footer class="footer">
  <div class="container">
    <div class="row">
      <nav>
        <ul>
          <li><%= link_to "About",   about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
          <li><a href="http://news.railstutorial.org/">News</a></li>
        </ul>
      </nav>
    </div>
  <div class="copyright">
    Copyright @ 2020 Y.N All rights reserved.
  </div>
</div>
</footer>
