<div class="container">
  <div class="row from_maker">
    <div class="box col-md-6 col-lg-4"><a href="#"><p>LIXIL</p></a></div>
    <div class="box col-md-6 col-lg-4"><a href="#"><p>TOTO</p></a></div>
    <div class="box col-md-6 col-lg-4"><a href="#"><p>Panasonic</p></a></div>
    <div class="box col-md-6 col-lg-4"><a href="#"><p>YKK AP</p></a></div>
    <div class="box col-md-6 col-lg-4"><a href="#"><p>三協</p></a></div>
    <div class="box col-md-6 col-lg-4"><a href="#"><p>クリナップ</p></a></div>
    <div class="box col-md-6 col-lg-4"><a href="#"><p>タカラスタンダード</p></a></div>
  </div>

</div>
