<<<<<<< HEAD
<div class="container">
  <div class="row from_maker">
    <div class="box col-md-6 col-lg-4"><a href="#"><p>LIXIL</p></a></div>
    <div class="box col-md-6 col-lg-4"><a href="#"><p>TOTO</p></a></div>
    <div class="box col-md-6 col-lg-4"><a href="#"><p>Panasonic</p></a></div>
    <div class="box col-md-6 col-lg-4"><a href="#"><p>YKK AP</p></a></div>
    <div class="box col-md-6 col-lg-4"><a href="#"><p>三協</p></a></div>
    <div class="box col-md-6 col-lg-4"><a href="#"><p>クリナップ</p></a></div>
    <div class="box col-md-6 col-lg-4"><a href="#"><p>タカラスタンダード</p></a></div>
  </div>

=======
<div class="container-fluid">

  <div class="row">
    <div class="from_maker">

      <div class="box col-xs-6 col-lg-4 lixil"><a href="#"><p>LIXIL</p></a></div>
      <div class="box col-xs-6 col-lg-4 toto"><a href="#"><p>TOTO</p></a></div>
      <div class="box col-xs-6 col-lg-4 panasonic"><a href="#"><p>Panasonic</p></a></div>
      <div class="box col-xs-6 col-lg-4 sankyo"><a href="#"><p>三協</p></a></div>
      <div class="box col-xs-6 col-lg-4 ykk"><a href="#"><p>YKK AP</p></a></div>
      <div class="box col-xs-6 col-lg-4 bunkashuter"><a href="#"><p>文化シャッター</p></a></div>
      <div class="box col-xs-6 col-lg-4 "><a href="#"><p>クリナップ</p></a></div>
      <div class="box col-xs-6 col-lg-4 exteria"><a href="#"><p>タカラスタンダード</p></a></div>
    </div>

  </div>




>>>>>>> advanced-login
</div>
