<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class="center jumbotron">
  <h1>コストパフォーマンスの高みを目指して</h1>


  <form method="get" action="#" class="search_container">
  <input type="text" size="25" placeholder="キーワード検索">
  <input type="submit" value="&#xf002">
  </form>

  <div class="">

  </div>
  <h2>
    This is the home page for the
    <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
